{% extends 'news/base.html' %}
{% load static %}

{% block title %} Profile edit {% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Foydalanuvchi ma'lumotlarini o'zgartirish</span></h2>
            <p>Siz o'zingiz haqingizdagi ma'lumotlarni quydagi forma orqali o'zgartirishingiz mumkin</p>
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
              <button type="submit" class="btn btn-info ml-2">O'zgarishlarni saqlash</button>
              <a href="{% url 'login' %}" class="btn btn-info ml-2">Kirish</a>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="latest_post">
            <h2><span>So'nggi yangiliklar</span></h2>
            <div class="latest_post_container">
              <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
              <ul class="latest_postnav">
                {% for news in latest_news %}
                <li>
                  <div class="media"> <a href="{{ news.get_absolute_url }}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                    <div class="media-body"> <a href="{{ news.get_absolute_url }}" class="catg_title">{{ news.title | truncatewords:8 }}</a> </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock %}