{% extends 'news/base.html' %}
<!--{% load static %}-->

{% block title %} Parolini o'zgartirish {% endblock title %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Parolni o'zgartirish emaili yuborildi</span></h2>
            <p>Parolingizni o'zgartirish uchun sizning emailingizga parolni tiklash uchun link yuborildi</p>
            <p>Agar siz emailni qabul qilmagan bo'lsangiz, qaytadan urinib ko'ring</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="latest_post">
            <h2><span>So'nggi yangiliklar</span></h2>
            <div class="latest_post_container">
              <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
              <ul class="latest_postnav">
                {% for news in latest_news %}
                <li>
                  <div class="media"> <a href="{{ news.get_absolute_url }}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                    <div class="media-body"> <a href="{{ news.get_absolute_url }}" class="catg_title">{{ news.title | truncatewords:8 }}</a> </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
              <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
{% endblock %}